<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<magebit_instagram>
			<feed>
				<query_id>17888483320059182</query_id>
			</feed>
		</magebit_instagram>
	</default>
</config>
